package views

templ Layout(name string) {
	<html class="sl-theme-light">
		<head>
			<title>{ name }</title>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<script src="/static/script/htmx.min.js"></script>
			<script src="/static/script/response-targets.js"></script>
			<link rel="stylesheet" href="/static/css/style.css"/>
		</head>
		<body>
			{ children... }
		</body>
	</html>
}
